.cursor
test/datasets/*
test/**/*.pdf
test/**/*.docx
test/**/out_dir/
test/**/output/
test/**/markdown_output/
.venv
chats
.DS_Store
.vscode
*.zip
*.pyc
output/
.env
mlartifacts/
*.sqlite
src/ingestion/utils/test.py
.pytest_cache/

#Ignore cursor AI rules
.cursor/rules/codacy.mdc
