.cursor
test/datasets/*
test/benchmarks/**/*.pdf
test/benchmarks/**/*.docx
test/benchmarks/**/out_dir/
test/benchmarks/**/output/
test/benchmarks/**/markdown_output/
.venv
chats
.DS_Store
.vscode
*.zip
*.pyc
output/